/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.timepicker-overlay {
    z-index: 1100 !important;
}
  
.timepicker-backdrop-overlay {
    z-index: 1100 !important;
}
