label {
    color: #0a4d58ea;
    font-size: large;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-submit, .form-route {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-submit:hover, .form-route:hover {
    opacity: 0.8;
}

.form-group {
    width: 100%;
    margin: 2px;
    align-items: center;
}

.validation-span{
    color:brown;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}